/* Global Styles :) */

body {
    background-color: rgb(21, 46, 23);
    text-align: center;
    font-family: "Exo 2", sans-serif;
    font-size: larger;
    font-weight: 400;
    font-style: normal ;
}

#container {
    background-color: #adb7c1;
    padding: 25px;
    width: 87%;
    margin: 15px auto;
    border-radius: 20px;
}


h1, h2, h3, h4, h5 {
    text-align: center;
    font-family: "Lobster Two", sans-serif;
    font-style: normal;
}


 hr {
    width: 100%;
    color: rgb(7, 48, 7);
 }

 img {
    display: block;
    margin: 0 auto;
    width: 60%;
}

a {
    color: rgb(27, 42, 2);
}

a:hover {
    color: rgb(18, 20, 18);
    text-decoration: none;
}

hr {
    width: 90%;
    color: darkgreen;
}

/*Moble Stiles!*/

nav {
    background-color: rgb(90, 110, 55);
    padding: 7px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    height: 20px;
    line-height: 16px;
    color: rgb(106, 165, 82);
    background-color: rgb(18, 20, 18);
    text-align: center;
    margin: 5px 0;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(106, 165, 82);
}

header h1 {
    color: rgb(23, 50, 10);
}

header h2 {
    color: rgb(2, 33, 4);
}

main {
    text-align: center;
    border:2px solid  rgb(30, 60, 15);
    padding: 10px;
    margin: 10px 0;
}

main img {
    width: 75%;
}

.ban img {
    width: 100%;
    height: 115px;
}

#low {
    border: 2px solid rgb(85, 140, 59);
    padding: 5px ;
}

.col1 {
    border: 2px dotted rgb(36, 78, 27);
    margin: 5px;
    padding: 5px;
}
.col2 {
    border: 2px dotted rgb(36, 78, 27);
    margin: 5px;
    padding: 5px;
}

.col3 {
    border: 2px dotted rgb(36, 78, 27);
    margin: 5px;
    padding: 5px;
}

.col4 {
   border: 2px dotted rgb(36, 78, 27);
   margin: 5px;
   padding: 5px;
}

  .button {
    display: block;
    background-color: rgb(48, 100, 40);
    width: 125px;
    height: 35px;
    color: rgb(3, 14, 3);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    line-height: 35px;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px dotted rgb(114, 182, 106);
}

.button:hover {
    color: rgb(63, 109, 53);
}

footer {
    padding: 40px 0;
    text-align: center;
}

/* Tablet style */

@media(min-width: 768px) {
   nav {
    text-align: center;
   }

    nav li {
        display: inline-block;
    }

    nav li a{
        width: 200px;
    }
    
    .column img {
        width: 10%;
    }

    main img {
        width: 60%;
    }

    .ban img {
        width: 100%;
        height: 125px;
    }

        .column {
            float: left;
            width: 28%;
            padding: 16px;
        }
        
        .row::after {
            content: "";
            clear: both;
            display: table;
        }

    #lower {
        width: 60%;
        margin: 0 auto;
    }

    }

/* Laptop styles */

@media(min-width: 1024px) {

    .ban img {
        width: 100%;
        height: 175px;
    }

    #low {
        width: 100%;
        display: flex;
    }

    .col1 {
        padding: 5px;
        margin: 5px;
        width: 25%;
        border-radius: 15px;
    }
    .col2 {
        padding: 5px;
        margin: 5px;
        width: 25%;
        border-radius: 15px;
    }
    .col3 {
        padding: 5px;
        margin: 5px;
        width: 25%;
        border-radius: 15px;
    }
    .col4 {
        padding: 5px;
        margin: 5px;
        width: 25%;
        border-radius: 15px;
    }


    .column {
        float: left;
        width: 29%;
        padding: 18px;
    }
    .row::after {
        content: "";
        clear: both;
        display: table;}
}

/* Desktop styles */
@media(min-width:1440px) {

    .ban img {
        width: 100%;
        height: 195px;
    }

.column {
    float: left;
    width: 30%;
    padding: 20px;
}
.row::after {
    content: "";
    clear: both;
    display: table;}

}

/* 4K!! */
@media(min-width:2560px) {
    main img {
        width: 40%;
    }
  
    .column {
        float: left;
        width: 31%;
        padding: 21px;
    }
 
    .row::after {
        content: "";
        clear: both;
        display: table;}
}

/* this concludes the CSS */
